* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  background: url(./assets/london.jpg);
  background-size: contain;
}

.overlay {   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 3;
  transition: .3s all;
}

.diff-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  min-width: 320px;
  width: 30vw;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  background: rgb(152,204,241);
  border-radius: 5px;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.diff-change {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.diff-level {
  width: 30px;
  height: 30px;
  background: rgb(220, 255, 255);
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  color: rgb(0, 0, 145);
  cursor: pointer;
}
